// Color Variables
$blue: #1976d2;
$blue-light: #e9effd;
$blue-hover: #bed0f9;
$blue-focus: #0b49d1;
$blue-dark: #0056b3;
$blue-bg: #eaf0fe;
$blue-check: #7baaf7;
$blue-unit: #6692f1;
$red: #b71c1c;
$red-light: #fbeaea;
$gray: #e0e0e0;
$gray-dark: #757575;
$gray-unit: #919191;
$success: #4caf50;
$white: #fff;
$error-bg: #c20c0c;

$font: "Montserrat", Arial, sans-serif;
$input-radius: 2px;
