<div
  class="number-input-wrapper"
  [class.focused]="focused"
  [class.error]="error"
  [class.success]="!error"
>
  <label *ngIf="label" class="label">
    {{ label }}
    <span *ngIf="required" class="asterisk">*</span>
  </label>
  <div
    class="input-group"
    [class.focused]="focused"
    [class.error]="error"
    [class.success]="!error"
    (mouseenter)="hovered = true"
    (mouseleave)="hovered = false"
  >
    <div class="input-content" [class.focused]="focused">
      <input
        #inputRef
        type="text"
        class="number-input"
        [value]="formatNumber(value)"
        [disabled]="disabled"
        (input)="onInput($event)"
        (blur)="onBlur()"
        (focus)="onFocus()"
        autocomplete="off"
        inputmode="numeric"
        pattern="[0-9,]*"
      />
      <span class="unit-label">{{ unit }}</span>
    </div>

    <ng-container *ngIf="!focused && !error">
      <!-- Valid icon -->
      <span *ngIf="!hovered" class="icon check">
        <img src="assets/icons/valid.svg" alt="reset" width="24" height="24" />
      </span>

      <!-- Reset icon -->
      <span
        *ngIf="hovered"
        class="icon reset"
        role="button"
        tabindex="0"
        (mousedown)="resetToDefault()"
        [attr.title]="'Reset'"
      >
        <img src="assets/icons/reset.svg" alt="reset" width="24" height="24" />
      </span>
    </ng-container>

    <!-- Plus/Minus buttons  -->
    <ng-container *ngIf="focused">
      <button
        type="button"
        class="btn minus"
        [class.error]="error"
        [disabled]="isMinusDisabled"
        tabindex="-1"
        (mousedown)="decrement()"
        [attr.title]="tooltipDecrement"
      >
        <img src="assets/icons/minus.svg" alt="minus" width="18" height="18" />
      </button>
      <button
        type="button"
        class="btn plus"
        [class.error]="error"
        [disabled]="isPlusDisabled"
        tabindex="-1"
        (mousedown)="increment()"
        [attr.title]="tooltipIncrement"
      >
        <img src="assets/icons/plus.svg" alt="plus" width="18" height="18" />
      </button>
    </ng-container>
  </div>
</div>
