<div class="form-container">
  <h2>Demo Form</h2>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group">
        <app-number-input
          label="FHWA Term"
          [min]="1"
          [max]="12"
          [default]="1"
          [step]="1"
          [required]="true"
          unit="months"
          formControlName="fhwaTerm"
        ></app-number-input>
        <app-error-message
          [show]="
            !!(
              myForm.get('fhwaTerm')?.invalid && myForm.get('fhwaTerm')?.touched
            )
          "
        ></app-error-message>
      </div>

      <div class="form-group">
        <app-number-input
          label="Miles"
          [min]="1000"
          [max]="500000"
          [default]="1000"
          [step]="1"
          [required]="true"
          formControlName="miles"
        ></app-number-input>
        <app-error-message
          [show]="
            !!(myForm.get('miles')?.invalid && myForm.get('miles')?.touched)
          "
        ></app-error-message>
      </div>
    </div>

    <button type="submit" [disabled]="myForm.invalid">Submit</button>
  </form>
</div>

<router-outlet />
